.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logotype {
font-family: Raleway, sans serif;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
letter-spacing: 3%;
vertical-align: middle;
text-transform: uppercase;
}
.web {
background: #4D5AE5;
}
.studio {
background: #2E2F42;

}
.logotype:hover {
color: red
}


.menu-title:hover,
.menu-title:focus {
    color: green;
}

.menu-title {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;

}
.menu-mail {
font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
color: #434455;
}
.menu-mail:hover,
.menu-mail:focus {
    color: red;
}
.menu-tel {
font-family: Roboto, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
color: #434455;
}
.menu-tel:hover,
 .menu-tel:focus {
    color: green;
}


/*main button ========================*/
.main-title {
    display: none;
}
.all {
    color: #FDF5E6;
    background: blue;
}
.all:hover,
.all:focus {
    background: blue;
    color: red;
}
.all {
    cursor: pointer:
}
.web {
    color: red;
}
.web:hover,
.web:focus {
    background: coral;
    color: red;
}
.app {
    color: red;
}
.app:hover,
.app:focus {
    background: yellow;
    color: red;
}
.design {
    color: red;
}
.design:hover,
.design:focus {
    color: GREEN;
    background: blue;
}
.button {
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 4%;
text-align: center;
vertical-align: middle;
cursor: pointer;
}
/*===============hero============*/
.text1 {
font-family: Roboto;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 2%;
color:#2E2F42
}
.text2 {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
color: #434455;

}


/* =============== footer ==================*/
.footer-text {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
color: #F4F4FD;
background: #2E2F42;

}
.color {
color: #F4F4FD;
}