.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.logotype {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.30;
    letter-spacing: 3%;
    vertical-align: middle;
    text-transform: uppercase;
    background: #ffffff;
}
.menu-title:hover,
.menu-title:focus {
    color: yellow;
}
.menu-nel: hover,
.menu-tel: focus {
    color: orange;
}
.menu-title {
    font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;

}
/*main button ========================*/
.main-title {
    display: none;
}
.button-all {
    color: green;
}
.button-all:hover,
.button-all:focus {
    background: blue;
    color: red;
}
.button-all {
    cursor: pointer:
}
.button-web {
    color: red;
}
.button-web:hover,
.button-web:focus {
    background: coral;
    color: red;
}
.button-app {
    color: red;
}
.button-app:hover,
.button-app:focus {
    background: yellow;
    color: red;
}
.button-design {
    color: red;
}
.button-design:hover,
.button-design:focus {
    background: blue;
    color: red;