.container {
width: 1000px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
border: yellow;

}

.linear-gradient-block {
height: 300px;
width: 100%;
background-image: linear-gradient( blue, yellow, tomato);
/*
background-image: url("https://picsum.photos/id/237/200/300");
background-color: yellow;
background-repeat: no-repeat;
background-position: right 15px bottom 20px;*/

}
.radial-gradient-block {
height: 300px;
width: 100%;
background-image: radial-gradient(circle at center, red 0% 40%, blue 40% 100%);
}